{% extends 'admin/layout/default.html.twig' %}

{% block title %}Admin - Post{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            Post - {% if post.id %}update{% else %}create{% endif %}
            {% if post.id %}
                <span class="float-right">Views: <strong>{{ post.views }}</strong></span>
            {% endif %}
        </div>
        <div class="card-body">
            {{ form_start(form) }}
                {{ form_errors(form) }}
                <div class="form-row">
                    <div class="col-sm-4">
                        {{ form_row(form.title) }}
                    </div>
                    <div class="col-sm-4">
                        {{ form_row(form.url) }}
                    </div>
                    <div class="col-sm-4">
                        {{ form_row(form.date) }}
                    </div>
                </div>
                {{ form_rest(form) }}
                <button type="submit" class="btn btn-primary">Save the post</button>
                <a href="{{ path('admin_post_list')}}" class="btn btn-light">Back to the listing</a>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
