{% extends 'admin/layout/default.html.twig' %}

{% block title %}Admin - Post{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            Post - list
            <a href="{{ path('admin_post_insert') }}" class="float-right">Create a new post</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Title</th>
                        <th scope="col">Date</th>
                        <th scope="col">Tags</th>
                        <th scope="col">Enabled</th>
                        <th scope="col" class="text-right">Views</th>
                        <th scope="col" class="text-right">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {# post \App\Entity\Post #}
                    {% for post in posts %}
                        {% set editUrl = path('admin_post_update', { id: post.id}) %}
                        <tr>
                            <td>{{ post.id }}</td>
                            <td><a href="{{ editUrl }}">{{ post.title }}</a></td>
                            <td>{{ post.date|date }}</td>
                            <td>{{ post.tags|join(', ') }}</td>
                            <td>
                                {% if post.enabled %}
                                    <span class="badge badge-success">Yes</span>
                                {% else %}
                                    <span class="badge badge-danger">No</span>
                                {% endif %}
                            </td>
                            <td class="text-right"><span class="badge badge-pill badge-light">{{ post.views }}</span></td>
                            <td class="text-right">
                                <a href="{{ path(constant('App\\Routing\\UrlGenerator\\PostUrlGenerator::ROUTE_DETAIL'), {post: post}) }}">View</a>
                                <a href="{{ editUrl }}">Edit</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="mb-n3">
                {{ pagerfanta(posts) }}
            </div>
        </div>
    </div>
{% endblock %}
